<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElectionsProgram.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ElectionsProgram.Settings>
            <setting name="Каталог_настроек" serializeAs="String">
                <value>.\Настройки</value>
            </setting>
            <setting name="Каталог_документов" serializeAs="String">
                <value>.\Документы</value>
            </setting>
        </ElectionsProgram.Settings>
    </userSettings>
</configuration>